@model CourseRegister.Models.Term

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Term</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.readingWeekStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.readingWeekStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finalExamStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finalExamStartDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
