@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Student Information System(SIS)</h2>
    <p class="lead">To be exact, SIS is a course register systerm constructed via ASP.NET MVC scaffold.</p>
    <p><a href="https://github.com/hongshuidang/courseRegisterSystem" class="btn btn-primary btn-lg">Source Code &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h4>@Html.ActionLink("Department", "Index", "Departments")</h4>
    </div>
    <div class="col-md-3">
        <h4>@Html.ActionLink("Faculty", "Index", "Faculties")</h4>
    </div>
    <div class="col-md-3">
        <h4>@Html.ActionLink("Term", "Index", "Terms")</h4>
    </div>
    <div class="col-md-3">
        <h4>@Html.ActionLink("Course", "Index", "Courses")</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h4>@Html.ActionLink("Assignment", "Index", "Assignments")</h4>
    </div>
    <div class="col-md-3">
        <h4>@Html.ActionLink("Student", "Index", "Students")</h4>
    </div>
    <div class="col-md-3">
        <h4>@Html.ActionLink("Enrollment", "Index", "Enrollments")</h4>
    </div>
</div>